[submodule "stuff/thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest
[submodule "stuff/thirdparty/benchmark"]
	path = thirdparty/benchmark
	url = https://github.com/google/benchmark
